//  CSS Reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Variables and Fonts

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: 'Inter', sans-serif;
}

html, body {
  background: var(--black);
  color: var(--gray);

  max-height: 100vh;
  max-width: 100vw;

  height: 100%;
  width: 100%;

  overflow-x: hidden;

  font-size: 62.5%;

}
