* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #000;
  --gray: #888;
  --white: #fff;
}

*,
input,
button {
  font-family: "Inter", sans-serif;
}

html, body {
  background: var(--black);
  color: var(--gray);
  max-height: 100vh;
  max-width: 100vw;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  font-size: 62.5%;
}

#wrapper {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  max-width: 104.8rem;
  width: 100%;
  gap: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 1.6rem 2.4rem;
}
header .left {
  height: 2.6rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .left:hover {
  filter: brightness(0.7);
}
header .left img {
  height: 100%;
}
header .middle ul {
  display: flex;
  align-items: center;
  list-style: none;
}
header .middle ul li a {
  font-size: 1.4rem;
  padding: 0.8rem 1.6rem;
  color: var(--gray);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .middle ul li a:hover {
  filter: brightness(0.7);
}
header .middle ul li a + a {
  margin-left: 1.2rem;
}
header .right {
  margin-left: 0.8rem;
  display: flex;
  align-items: center;
}
header .right .conf {
  height: 3.2rem;
  position: relative;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .right .conf:hover {
  filter: brightness(0.7);
}
header .right .conf span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: var(--white);
  font-size: 1.4rem;
  width: -moz-max-content;
  width: max-content;
}
header .right .avatar {
  margin-left: 0.8rem;
  width: 3.2rem;
  height: 3.2rem;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
header .right .avatar:hover {
  filter: brightness(0.7);
}
@media (min-width: 38rem) {
  header {
    flex-direction: row;
  }
}

@keyframes colorLoop {
  0%, 55% {
    filter: brightness(0) invert(1);
  }
  11%, 30% {
    filter: none;
  }
}
main {
  max-width: 65.5rem;
  padding: 5rem 2rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 6rem;
}
main h1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16vw;
  line-height: 100%;
  letter-spacing: 0;
  color: var(--white);
}
main h1 span {
  padding: 0 1rem;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  filter: brightness(0) invert(1);
  animation: colorLoop 10s infinite ease-in-out;
}
main h1 span:nth-child(1) {
  background-image: linear-gradient(90deg, #0061ff, #60efff);
}
main h1 span:nth-child(2) {
  background-image: linear-gradient(90deg, #ff0f7b, #f89b29);
  animation-delay: 3.33s;
}
main h1 span:nth-child(3) {
  background-image: linear-gradient(90deg, #00ff87, #DCE956);
  animation-delay: 6.66s;
}
@media (min-width: 38rem) {
  main h1 {
    font-size: 8rem;
    letter-spacing: -0.9rem;
  }
}
main .buttons {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
main .buttons > button {
  background: var(--white);
  color: var(--black);
  cursor: pointer;
  border-radius: 0.5rem;
  padding: 1.5rem 4.5rem;
  border: 1px solid var(--white);
  width: 21rem;
  font-size: 1.5rem;
  font-weight: 500;
  transition: all 0.2s ease-in-out;
}
main .buttons > button:hover {
  background: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
}
main .buttons > button.outlined {
  background: transparent;
  color: var(--gray);
  border: 1px solid var(--gray);
  transition: all 0.2s ease-in-out;
}
main .buttons > button.outlined:hover {
  filter: brightness(0.5);
}
@media (min-width: 38rem) {
  main .buttons {
    flex-direction: row;
  }
}
main h2 {
  font-size: 2rem;
  font-weight: 400;
  letter-spacing: -0.15rem;
  text-align: center;
}
@media (min-width: 38rem) {
  main {
    padding: 5.6rem 2.4rem;
  }
}

footer {
  color: var(--white);
  text-transform: uppercase;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.32rem;
  text-align: center;
  margin-bottom: 4.8rem;
}/*# sourceMappingURL=styles.css.map */